<app-header></app-header>


<div class="container">
  <div class="row justify-content-center">
    <div class="card mx-4 my-4" style="width: 18rem;" >
      <div class="justify-content-center">
      <img src="assets/MedicalTreatment.png" class="card-img-top" alt="MedicaTreatment">
    </div>
      <div class="card-body">
        <h2 class="card-title">Medical Treatment</h2>
        <h3>Manage the medical treatments of your patients</h3>
        <ul>
          <li>
            Register dosage
          </li>
          <li>
            Register doctor
          </li>
          <li>
            Register pill
          </li>
        </ul>
        <a class="btn btn-primary" [routerLink]="['/listmedicaltreatment']">Go</a>
      </div>
    </div>
    <div class="card mx-4 my-4" style="width: 18rem;">
      <img src="assets/Schedule.png" class="card-img-top" alt="Schedule">
      <div class="card-body">
        <h2 class="card-title">Schedule</h2>
        <h3>Check the schedule of your patients</h3>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-primary" [routerLink]="['/newdosage']">Go</a>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
