<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<app-header></app-header>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br><h3>Smart Medicine Dispenser</h3>
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input #emailElement type="text" id="email" class="fadeIn second" placeholder="email" formControlName="email">
      <input #passwordElement type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="flat">
      <p>Email or password invalid. Try again</p>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>You don't have an account?</p>
      <a class="underlineHover" [routerLink]="'/newcarer'">Register</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
