<app-header></app-header>

<div class="flex-row d-flex justify-content-center">
  <div class="card shadow-2-strong card-registration col-md-8" style="border-radius: 15px">
    <div class="card-body p-4 p-md-5">
      <h3 class="mb-4 pb-2 pb-md-0 mb-md-3">{{title}}</h3>
      <form [formGroup]="formGroup" (submit)="create()">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="firstName">Description</label>
              <input #descriptionElement type="text" class="form-control" required="true" formControlName="description" />
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="phoneNumber">Start date</label><br>
              <input #startDateElement type="date" id="startDate" class="form-control form-control-lg"
                formControlName="startDate">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="firstName">Doctor</label>
              <input #doctorElement type="text" placeholder="Select a doctor from the list below" class="form-control" required="true" formControlName="doctor" [(ngModel)]="doctorName" readonly/>
            </div>
          </div>
        </div>


        <div class="container">
          <div style="float: right">
            <button type="button" class="btn btn-primary" [routerLink]="['/newdoctor']">New doctor</button>
          </div>
          <br>
          <br>
          <div class="table-responsive">
            <br>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col" class="text-white">Id</th>
                  <th scope="col" class="text-white">Name</th>
                  <th scope="col" class="text-white">Specialims</th>
                  <th scope="col" class="text-white">Phone number</th>
                  <th scope="col" class="text-white">Address</th>
                  <th scope="col" class="text-white">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors" (click)="getDoctorId(doctor.id, doctor.name)">
                  <th>{{ doctor.id}}</th>
                  <td>{{ doctor.name }}</td>
                  <td>{{ doctor.specialism }}</td>
                  <td>{{ doctor.phoneNumber }}</td>
                  <td>{{ doctor.direction }}</td>
                  <td><button type="button" class="btn btn-primary" [routerLink]="['/editdoctor', doctor.id]">Edit</button> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <input type="submit" class="fadeIn fourth" value="Save">
      </form>

    </div>
  </div>
</div>


<app-footer></app-footer>
