<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="card mx-4 my-4" style="width: 18rem;" >
      <div class="justify-content-center">
      <img src="assets/Patients.png" class="card-img-top" alt="My patients">
    </div>
      <div class="card-body">
        <h2 class="card-title">My patients</h2>
          <h3>Manage your patients.</h3>
            <ul>
              <li>
                Register patients
              </li>
              <li>
                Register medical treatment
              </li>
            </ul>
        <a class="btn btn-primary" [routerLink]="['/listpatient']">Go</a>
      </div>
    </div>
    <div class="card mx-4 my-4" style="width: 18rem;">
      <img src="assets/Reports.png" class="card-img-top" alt="Reports">
      <div class="card-body">
        <h2 class="card-title">Reports</h2>
        <h3>Look at your reports</h3>
        <ul>
          <li>
           Download yours reports
          </li>
          <li>
            Print your reports
          </li>
        </ul>

        <a class="btn btn-primary" [routerLink]="['/reportmenu']">Go</a>
      </div>
    </div>
    <div class="card mx-4 my-4" style="width: 18rem;">
      <img src="assets/Profile.png" class="card-img-top" alt="My profile">
      <div class="card-body">
        <h2 class="card-title">My profile</h2>
        <h3>Manage your profile as a carer</h3>
        <br>
        <br>
        <br>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
